<section class="search">
  <h2 class="section-header">Search GitHub Repositories</h2>
  <div class="message-section" ng-show="$ctrl.error">
    <p class="alert alert-danger" role="alert" id="message" ng-bind="$ctrl.message"></p>
  </div>
  <form class="form-inline">
    <div class="form-group form-inline">
      <label>Search Term:</label>
      <input type="text" class="form-control" id="search-term" ng-model="$ctrl.term">
    </div>
    <div class=" form-group">
      <label class="btn-group-label">Sort by:</label>
      <div class="btn-group">
        <button type="button" ng-click="$ctrl.setSort('score')" ng-class="{active: $ctrl.sort == 'score'}" class="btn btn-blue">Best Match</button>
        <button type="button" ng-click="$ctrl.setSort('stars')" ng-class="{active: $ctrl.sort == 'stars'}" class="btn btn-blue">Stars</button>
      </div>
    </div>
    <button type="submit" class="btn btn-green submit-btn" ng-click="$ctrl.findRepos($ctrl.term, $ctrl.sort)">Submit</button>
  </form>
</section>

<section class="results" ng-if="$ctrl.items.length > 0">
  <div class="content-panel">
    <table class="table table-striped" >
      <h2><i class="fa fa-angle-right"></i>Results for: {{$ctrl.searchTerm}}</h2>
      <hr>
      <thead>
      <tr>
        <th class="hide-sm"></th>
        <th>Owner</th>
        <th>Repository</th>
        <th class="hide-sm">Description</th>
        <th>Language</th>
        <th>Stars</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="item in $ctrl.items track by $index">
        <td class="hide-sm"><img ng-src="{{item.owner.avatar_url}}" height="40px"></td>
        <td ng-bind="item.owner.login"></td>
        <td ng-bind="item.name"></td>
        <td class="hide-sm" ng-bind="item.description"></td>
        <td ng-bind="item.language"></td>
        <td ng-bind="item.stargazers_count"></td>
      </tr>
      </tbody>
    </table>
  </div>
</section>

<section class="no-results" ng-if="$ctrl.noItems">
  <h3 ng-bind="$ctrl.noItemMessage"></h3>
  <img src="//media.giphy.com/media/ALalVMOVR8Qw/giphy.gif" alt="Sad Panda">
</section>
